<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Register</h2>
        <mat-error *ngIf="isSignUpFailed">
          {{errorMessage}}
        </mat-error>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="First Name" formControlName="firstName" required>
            <mat-error>
              Please provide a valid first name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Last Name" formControlName="lastName" required>
            <mat-error>
              Please provide a valid lasr name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
      </form>
    </mat-card-content>
</mat-card>