<mat-card>
  <mat-card-content>
    <div class="success-message" *ngIf="loginMessage">
      <span>
          {{loginMessage}}
      </span>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <mat-error *ngIf="isLoginFailed">
        The email and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>