mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}

.success-message {
    display: block;
    max-width: auto;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    background-color: #dff0d8;
    border-radius: 4px;
}

.success-message span {
    color: #3c763d;
}