<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a mat-button href="/index.html" style="font-size: larger;">Mini BLOG</a></span>
        <span class="spacer"></span>
        <a mat-button *ngIf="!authService.isAuthenticated()" routerLink="/login" class="nav-link">
            <mat-icon>power_settings_new</mat-icon> Login</a>
        <a mat-button *ngIf="!authService.isAuthenticated()" routerLink="/register" class="nav-link">
            <mat-icon>how_to_reg</mat-icon> Register</a>
        <div *ngIf="authService.isAuthenticated()">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                {{userInfo.firstName}}
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>remove_circle_outline</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>