<h1 mat-dialog-title>Confirm: </h1>
<div mat-dialog-content>Are you sure you want to delete this <b>{{message}}</b></div>
<div mat-dialog-actions>
    <button mat-button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
    <button mat-button mat-dialog-close color="primary">No</button>
</div>
