
mat-card {
    max-width: 1024px;
    margin: 2em auto;
}

mat-card.publish {
    text-align: end;
}

mat-card-header mat-card-title {
    font-size: 18px;
}

.header-image {
    background-image: url('https://ci6.googleusercontent.com/proxy/L7ED_n1AVYEsnEY8pYmc4U3FUe8Qwr5N6vvO_uvOHS5bgjjPMP7Lkn62nbamEAhyadjk9CeNkgnrQRNhWjtICN6SqE4CWkMYN7LUCiLvjAkK=s0-d-e1-ft#https://storage.googleapis.com/tawk-images/weekly-visitors.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

mat-card-header {
    text-align: start;
}

.success-message {
    display: block;
    max-width: 1040px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    background-color: #dff0d8;
    border-radius: 4px;
}

.success-message span {
    color: #3c763d;
}

.error-message {
    display: block;
    max-width: 1040px;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    background-color: #f2dede;
    border-radius: 4px;
}

.error-message span {
    color: #a94442;
}

.material-icons {
    font-size: 46px;
}

mat-form-field {
    display: block;
}

.add-comment {
    margin-top: 40px;
    text-align: end;
}

mat-divider {
    margin-top: 10px;
}

.list-comment {
    margin-top: 30px;
}

.spacer {
    flex: 1 1 auto;
}

.flex-container {
    display: flex;
}

.comment {
    background-color: #d9edf7;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
}

.comment h3 {
    font-size: 16px;
    color: #31708f;
}

.comment p {
    letter-spacing: normal;
    margin: 0 8px 16px;
    font: 400 14px/28px Roboto, "Helvetica Neue", sans-serif;
    color: #333;
}

.comment span {
    font-size: 14px;
    color: #666;
}