<div class="success-message" *ngIf="successMessage">
    <span>
        {{successMessage}}
    </span>
</div>
<div class="error-message" *ngIf="errorMessage">
    <span>
        {{errorMessage}}
    </span>
</div>
<mat-card class="publish">
    <mat-card-header>
        <mat-card-title>Hey, <b>{{userInfo.firstName}} {{userInfo.lastName}}</b> What's new?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="formStatus" (ngSubmit)="onSubmitStatus()">
            <mat-form-field class="full-width-input">
                <textarea matInput formControlName="textStatus"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!this.formStatus.get('textStatus').value">Publish</button>
        </form>
    </mat-card-content>
</mat-card>

<mat-card *ngFor="let status of listStatus">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{status.user.firstName}} {{status.user.lastName}}</mat-card-title>
        <mat-card-subtitle>{{status.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}} </mat-card-subtitle>
        <span class="spacer"></span>
        <button *ngIf="userInfo.id === status.user.id" mat-button color="warn" (click)="openPopupStatus(status.id)">Delete</button>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{status.textStatus}}
        </p>
        <mat-divider></mat-divider>
        <div class="list-comment">
            <h2>Comments</h2>
            <div class="comment" *ngFor="let comment of status.comments">
                <div class="flex-container">
                    <h3>{{comment.user.firstName}} {{comment.user.lastName}}: </h3>
                    <p>{{comment.textComment}}</p>
                </div> 
                <span> {{comment.createdAt | date: 'dd/MM/yyyy HH:mm:ss'}}</span> 
                <button *ngIf="userInfo.id === comment.user.id" mat-button color="primary" (click)="openPopupComment(comment.id)">Delete</button>
            </div>
        </div>
        <div class="add-comment">
            <form [formGroup]="formComment" (ngSubmit)="onSubmitComment(status.id)">
                <mat-form-field class="full-width-input">
                    <textarea matInput placeholder="Enter your comment..." formControlName="textComment"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!this.formComment.get('textComment').value">Publish</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>
  