.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10px;
    text-align: center;
    background-color: #f6f6f6;
}

.footer span {
    font-size: smaller;
    text-align: center;
}

